/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Science Gothic", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #51E2f5;
}

#qr-code {
    display: flex;
    flex-direction: column;
}

#qr-code h1 {
    color: #252525;
    margin-bottom: 16px;
    font-size: 38px;
}

#qr-code form {
    display: flex;
}

#url {
    padding: 22px;
    width: 100%;
    border: none;
    border-bottom-left-radius: 8px;
}

#url::placeholder {
    font-size: 18px;
}

#qr-code form #btn {
    color: white;
    background: #252525;
    font-size: 18px;
    padding: 0 22px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
    border-top-right-radius: 8px;
}

#qr-code form #btn:hover {
    color: #51E2f5;
    background: black;
}

#qr-box {
    background: white;
    width: 100%;
    max-width: 460px;
    height: 460px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}